*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
}

.container{
    max-width: 90vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}

.header_container{
    margin-bottom: 2.8rem;
}

.header_title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}